{%extends "base.html"%}

{%block tittle%} Registro {%endblock%}


{%block container%}
<div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="well well-sm">
{{ form.media.js }}
<form  action="" method="post">{% csrf_token %}
    <legend class="text-center header">Insert your info new</legend>
    <div class="form-group">
        {% for field in form %}
        <div class="form-group mx-sm-3 mb-2">
            {{field.errors}}
            {{field.label}}:
            <div class="form-group mx-sm-3 mb-2">
            {{field}}</div>
        </div>
        
        {%endfor%}
        <input type="submit" value="Submit" />                       
    </div>
</form>
        </div>
    </div>
</div>
{%endblock%}

