{% extends "base.html" %}

{%block container%}
  <a class="btn btn-primary btn-lg btn-block" href="{%url 'new_record' %}">Create new record</a>
  <p class="lead"><h2>Look at the detail of the {{num_records}}s records entered to date</h2></p>
  <ul>
    {% for record in all_records %}
    <li>
      <p ><strong>Name: </strong> {{ record.last_name }} {{ record.name }}, 
        <strong>Country:</strong> {{ record.country.name}},
        <strong>Department:</strong> {{ record.department.name}},
        <strong>City</strong> {{ record.city.name}} </p>
    </li>
    {% endfor %}
  </ul>
{%endblock%}